# Name of the executable
webserv

# Object files
**/*.o

# Stderr logs (AddressSanitizer, etc)
error_log

# Nginx test container directory
nginx

# Clangd compile flags
compile_flags.txt
compile_commands.json

# Clang cache
.cache

# personal TODO file
TODO

# VIM swap files
**/*.swp
**/*.swo

#log files
log

# Project related files && testers
mime_types
tester
cgi_tester

# Tester dependencies
YoupiBanane
tester.conf
