# Name of the executable
webserv
testd

# Object files
**/*.o

# Stderr logs (AddressSanitizer, etc)
error_log


# Clangd compile flags
compile_flags.txt
compile_commands.json

# Clang cache
.cache

# personal TODO file
TODO

# VIM swap files
**/*.swp
**/*.swo

#log files
log

## Debugger

.vscode
*.dSYM

# Diffs
git_diff
